@import "tailwindcss";

@theme {
  --animate-show-up: show-up 0.5s ease-in-out;

  @keyframes show-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.my-element {
  background-color: white;
  @variant dark {
    background-color: black;
    @variant hover {
      background-color: blue;
    }
  }
}
